<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">{{ __('Status')}}</h3>
        <div class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
            <span class="label label-primary">8</span>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        {#        {{ showflashes() }}#}
    </div>
    <!-- /.box-body -->
    {#            <div class="box-footer">
                    Clear status messages
                </div>#}
    <!-- box-footer -->
</div>
<!-- /.box -->
