<div class="small-box bg-green">
    <div class="inner">
        <h3>53<sup style="font-size: 20px">%</sup></h3>

        <p> {{ __('Bounce Rate')}} </p>
    </div>
    <div class="icon">
        <i class="fa fa-bar-chart"></i>
    </div>
    <a href="#" class="small-box-footer">
        {{ __('More info')}}  <i class="fa fa-arrow-circle-right"></i>
    </a>
</div>